<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyx.gmall.user.mapper.UserMapper">
        <select id="getUserAll" resultType="com.lyx.gmall.user.bean.UmsMember">
            select t.* from  ums_member t
        </select>

<!--            <select id="findById" parameterType="java.lang.String" resultType="com.lyx.gmall.user.bean.UmsMember">-->
<!--                 select t.* from  ums_member t-->
<!--                 <where>-->
<!--                     <if test="id != null">and id = #{id}</if>-->
<!--                 </where>-->

<!--            </select>-->
</mapper>